version: "2.4"

services:

  wp-server:
    extends:
      file: ../docker-wordpress/containers/common-services.yml
      service: wp-server
    environment:
      - WP_LOCALE=${WP_VERSION:-fr_FR}
      - WP_VERSION=${WP_VERSION:-latest}

      - WP_DB_PREFIX="wp_"
      - WP_TITLE="Wordpress Title"
      - WP_ADMIN_USER=admin
      - WP_ADMIN_PASSWORD=password
      - WP_ADMIN_EMAIL=admin@admin.com

  db:
    extends:
      file: ../docker-wordpress/containers/common-services.yml
      service: db

networks:
  wp_network:
    external:
      name: wp_network
